<h1 class="bookmarksTitle">Bookmarks</h1>
<div class="bookmarksContainer">
    <!-- <a href="" class="bookmark">
        <div>
            <i class="material-icons">email</i>
            <h1>Email</h1>
        </div>
    </a> -->
</div>