<h1 class="bookmarksTitle">Bookmarks</h1>
<div class="bookmarksContainer">
    <!-- <a href="" class="bookmark">
        <div>
            <i class="material-icons">email</i>
            <h1>Email</h1>
        </div>
    </a> -->
</div>
<p class="warningMessage">There are currently no bookmarks</p>
<a id="bookmarksEditBtn" href="/edit">Edit Bookmarks</a>