<div class="loginContainer">
  <button id="loginBtn"><a href="/login">Login</a></button>
  <button id="logoutBtn"><a>Log Out</a></button>
</div>
<div class="loginMessage">
  <p>Logged In as <span id="username"></span></p>
</div>