<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<h1 id="time"></h1>

<%- include('../partials/search'); %>

<%- include('../partials/bookmarks'); %>

<%- include('../partials/loginButtons'); %>

<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- other js files -->
<script type="module" src="../scripts/main.js"></script>
<script src="../scripts/bookmarks.js"></script>
</body>
</html>
